CONFIG_IDF_TARGET="esp32s3"
CONFIG_FREERTOS_HZ=1000
CONFIG_TINYUSB_HID_COUNT=1
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_HID_SERVICE=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_HID_BRIDGE_PROVISIONING_ENABLE=y
CONFIG_HID_BRIDGE_PROVISIONING_AP_PASSWORD="hidbridge"
CONFIG_HID_BRIDGE_PROVISIONING_FALLBACK_SECONDS=30
CONFIG_HID_BRIDGE_PROVISIONING_BUTTON_GPIO=0
CONFIG_HID_BRIDGE_PROVISIONING_BUTTON_HOLD_SECONDS=5
CONFIG_HID_BRIDGE_STATUS_LED_ENABLE=y
CONFIG_HID_BRIDGE_STATUS_LED_GPIO=48
